<launch>
<node pkg="rosxwiimote" type="xwiimote_node.exe" name="xwiimote_node" output="screen">
  <param name="device_idx" value="1"/>
</node>

<node pkg="rqt_plot" type="rqt_plot" name="plot1" output="screen"
      args="/xwiimote_node/joy/axes[0]  /xwiimote_node/joy/axes[1]
            /xwiimote_node/joy/axes[2]  /xwiimote_node/joy/axes[3]"/>
</launch>
